# Node dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/*.map

# Don't commit lock file for NPM libraries
package-lock.json

# Optional – macOS / Windows system files
.DS_Store
Thumbs.db

# Optional – IDE configs
.idea/
.vscode/
